<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rrf.posp.mcht.mappers.AccountMapper">
  <resultMap id="BaseResultMap" type="com.rrf.posp.mcht.entity.Account">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account_no" property="accountNo" />
    <result column="total_balance" property="totalBalance" />
    <result column="freezen_balance" property="freezenBalance" />
    <result column="available_balance" property="availableBalance" />
    <result column="mcht_no" property="mchtNo" />
    <result column="status" property="status" />
    <result column="remark" property="remark" />
    <result column="create_time" property="createTime" />
    <result column="update_time" property="updateTime" />
    <!-- 一对一的对象映射 -->
    <association property="id" resultMap=""/>
    <!-- 一对多的对象映射 -->
    <collection property="users"  resultMap="UserResultMap"/>
  </resultMap>

  <resultMap id="UserResultMap" type="com.gz.koulouweb.entity.User">
    <result column="id" property="id"/>
    <result column="userName" property="user_name"/>
    <result column="password" property="password"/>
  </resultMap>

  <sql id="Base_Column_List">
    id,
                account_no,
                total_balance,
                freezen_balance,
                available_balance,
                mcht_no,
                status,
                remark,
                create_time,
                update_time
  </sql>

  <insert id="insertMchtAccount" useGeneratedKeys="true" keyColumn="id" keyProperty="id" parameterType="com.rrf.posp.mcht.entity.Account">
    INSERT INTO tbl_account
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="null != accountNo and '' != accountNo">
        account_no,
      </if>
      <if test="null != totalBalance and '' != totalBalance">
        total_balance,
      </if>
      <if test="null != freezenBalance and '' != freezenBalance">
        freezen_balance,
      </if>
      <if test="null != availableBalance and '' != availableBalance">
        available_balance,
      </if>
      <if test="null != mchtNo and '' != mchtNo">
        mcht_no,
      </if>
      <if test="null != status and '' != status">
        status,
      </if>
      <if test="null != remark and '' != remark">
        remark,
      </if>
      <if test="null != createTime and '' != createTime">
        create_time,
      </if>
      <if test="null != updateTime and '' != updateTime">
        update_time
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="null != accountNo and '' != accountNo">
        #{accountNo},
      </if>
      <if test="null != totalBalance and '' != totalBalance">
        #{totalBalance},
      </if>
      <if test="null != freezenBalance and '' != freezenBalance">
        #{freezenBalance},
      </if>
      <if test="null != availableBalance and '' != availableBalance">
        #{availableBalance},
      </if>
      <if test="null != mchtNo and '' != mchtNo">
        #{mchtNo},
      </if>
      <if test="null != status and '' != status">
        #{status},
      </if>
      <if test="null != remark and '' != remark">
        #{remark},
      </if>
      <if test="null != createTime and '' != createTime">
        #{createTime},
      </if>
      <if test="null != updateTime and '' != updateTime">
        #{updateTime}
      </if>
    </trim>
  </insert>

  <delete id="deleteMchtAccount" >
    DELETE FROM tbl_account
    WHERE id = #{id}
  </delete>

  <update id="updateMchtAccount" parameterType="com.rrf.posp.mcht.entity.Account">
    UPDATE tbl_account
    <set>
      <if test="null != accountNo and '' != accountNo">account_no = #{accountNo},</if>
      <if test="null != totalBalance">total_balance = #{totalBalance},</if>
      <if test="null != freezenBalance">freezen_balance = #{freezenBalance},</if>
      <if test="null != availableBalance">available_balance = #{availableBalance},</if>
      <if test="null != mchtNo and '' != mchtNo">mcht_no = #{mchtNo},</if>
      <if test="null != status and '' != status">status = #{status},</if>
      <if test="null != remark and '' != remark">remark = #{remark},</if>
      <if test="null != createTime and '' != createTime">create_time = #{createTime},</if>
      <if test="null != updateTime and '' != updateTime">update_time = #{updateTime}</if>
    </set>
    WHERE id = #{id}
  </update>


  <select id="loadMchtAccount" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM tbl_account
    WHERE id = #{id}
  </select>

  <select id="selectAccountByMchtNo" resultMap="BaseResultMap">
    SELECT <include refid="Base_Column_List" />
    FROM tbl_account
    WHERE mcht_no = #{mchtNo}
  </select>
    <select id="getAccountInfo" resultMap="BaseResultMap">
      SELECT
      *
      FROM
      (
      SELECT
      tm.login_phone AS phone,
      ta.id,
      ta.account_no,
      ta.total_balance,
      ta.freezen_balance,
      ta.available_balance,
      ta.mcht_no,
      ta.STATUS,
      ta.remark,
      ta.create_time,
      ta.update_time,
      ta.trans_type
      FROM
      tbl_account ta
      LEFT JOIN tbl_mcht tm ON ta.mcht_no = tm.mcht_no
      <where>
        <if test="mchtNo != null and mchtNo != ''">
          and ta.mcht_no = #{mchtNo}
        </if>
        <if test="accountNo != null and accountNo != ''">
          and ta.account_no = #{accountNo}
        </if>
      </where>

      ) AS account
      <where>
        <if test="phone != null and phone != ''">
          and phone = #{phone}
        </if>
      </where>
      limit 1
    </select>

</mapper>