<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="cacheEnabled" value="false" />
        <setting name="callSettersOnNulls" value="true" />
    	<!-- 是否懒加载；false不支持懒加载 -->
	    <setting name="lazyLoadingEnabled" value="false"/>
	    <!-- JdbcType enumeration. Most common are: NULL, VARCHAR and OTHER -->
	    <setting name="jdbcTypeForNull" value="NULL"/>
	    <setting name="defaultStatementTimeout" value="30"/>
	    <setting name="logPrefix" value="mapper."/>
		<setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- 打印查询语句 -->  
        <setting name="logImpl" value="SLF4J" />
        <setting name="logPrefix" value="mapper."/>
	</settings>
	<plugins>
	    <plugin interceptor="com.github.pagehelper.PageInterceptor">
	        <!-- 使用下面的方式配置参数，后面会有所有的参数介绍 -->
	        <property name="supportMethodsArguments" value="true"/>
	        <property name="params" value="pageNum=page;pageSize=rows;"/>
		</plugin>
	</plugins>
</configuration>